.Building {
    height: 500px;
    margin: 0 auto;

    &__outline {
        fill: none;
        stroke: #000000;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 5px;
    }

    &Text {
        fill: #FFFFFF;
        pointer-events: none;
        font-size: 1.7rem;

        &--large {
            font-size: 6rem;
        }

        &--dark {
            fill: #000000;
        }
    }

    .ClickableShape {
        fill: var(--color-green);
        transition: fill .2s ease-in-out;
        cursor: pointer;

        &:hover {
            fill: darken(#00C6B4, 5%)
        }
    }

    &__facility {
        fill: var(--color-blue);
    }
}