.Suggestions {
    &__list {
        padding-bottom: 2rem;

        .SuggestionsListItem {
            min-width: 300px;
            width: 33%;

            + .SuggestionsListItem {
                margin-left: 10%;
            }

            &--is-clickable.Anchor:hover {
                text-decoration: none;

                .Heading {
                    text-decoration: underline;
                }
            }

            .Image {
                height: 300px;
                border-radius: 4px;
                margin-bottom: 1.5rem;
            }

            &__author {
                font-weight: bold;
            }

            &__summary {
                font-style: italic;

                &::before {
                    content: '“';
                }

                &::after {
                    content: '„';
                }
            }
        }

        &-meta {
            display: flex;
            flex-direction: column;

            > * + * {
                display: block;
                margin-top: .25rem;
            }
        }
    }
}