.Suggestions {
    &__list {
        padding-bottom: 2rem;

        .SuggestionsListItem {
            min-width: 33%;

            + .SuggestionsListItem {
                margin-left: 10%;
            }
        }

        &-meta {
            display: flex;
            flex-direction: column;

            > * + * {
                display: block;
                margin-top: .25rem;
            }
        }
    }
}