#map-root {
	height: 60vh;
    width: 80vw;
    max-width: 988px;
}

.map-marker {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: var(--color-blue);
    border: 5px solid var(--color-green);
    transition: border-width ease-in-out .2s;

    &:hover {
        border-width: 10px;
    }
}