.PageHeader {
    padding: 24px 32px;
    border-top: 6px solid var(--color-oba-red);
    position: relative;

    &__title {
        visibility: hidden;
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
    }

    &__logo {
        max-height: 3em;
        transform-origin: center;
        transition: .2s ease transform;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__nav {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__meta-nav {
        display: flex;
        flex-direction: row;
        align-items: center;

        &-list-item {
            padding: 0 6px;

            + .PageHeader__meta-nav-list-item  {
                border-left: 1px solid #AAAAAA;
            }
        }
    }
}